body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #ffffff;
}

.home {
  background: url(/assets/desktop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.background-fade {
  background: rgba(255,255,255,0.80);
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}
